:root {
  // custom css var
}

// 这里覆盖 vant 相关样式变量
// docs see https://vant-ui.github.io/vant/#/zh-CN/config-provider
:root:root {
  // --van-primary-color: #47b0fc;
  --van-primary-color: #1e4380;
  --van-nav-bar-icon-color: #fff;
  --van-back-top-background: var(--van-primary-color);
  --van-card-background: #fff;
  --van-nav-bar-title-text-color: #fff;
  --van-nav-bar-background: var(--van-primary-color);
}
